{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('assets/img/breadcrumb.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Modification de votre mot de passe</h2>
                        <div class="breadcrumb__option">
                            <a href="{{ path('app_home') }}">Accueil</a>
                            <span>Votre Espace Membre</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            {% if notification %}
                <div class="alert alert-danger">{{ notification }}</div>
            {% endif %}
            {{ form(form) }}
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}
